/*Updated Landing page or UI*/
/* Customize navbar background color */
/* style.css */


body {
  /* background-color: #222831; */
  background-image:url(/images/bg1.png);
  background-repeat: no-repeat;  /* Prevent image repetition */
  background-attachment: fixed;
  background-size: cover;  /* Or other desired fitting behavior */
  background-position: center;
  object-fit: contain;
  
}

.navbar {
  background-color: #486b9f !important;
}

/* Style modal title */
.landingHeader{
  text-align: center;
  font-size: 130px;
  font-weight: 500;
  position: relative;
  top: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 80px;
  margin-bottom: 200px;
  color: #204461;
}
.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Style form input fields */
.form-control {
    border-radius: 20px !important;
}

/* Target any element with a placeholder attribute */
input[placeholder]::placeholder,
textarea[placeholder]::placeholder {
  color: #204461;
}


/* Style form select dropdown */
.select {
    border-radius: 20px !
}

.labelFont {
  color: #265073 !important;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 25px !important;
}

.formHeader{
  font-size: 70px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  background: linear-gradient(to top, #3E3232, #7E6363);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}


/*
    .form-group,
    label,
    input[type="text"],
    input[type="email"],
    select,
    textarea {
        font-family: 'Roboto', sans-serif;
    }
*/


  
  .page-title {
    color: #007bff; /* Heading color */
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .form-group label {
    color: #fbf5f5; /* Form label color */
    font-size: larger;
  }
  .form-control {
    border-color: #ced4da; /* Form input border color */
  }
  .form-control:focus {
    border-color: #007bff; /* Form input border color on focus */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Form input focus effect */
  }

  
  .text-center {
    color: rgb(247, 247, 247); /* Change to your desired color */
    /* Other existing styles */
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
}


/* Submit button style */
.btn {
  background-color: #265073; /* Button color */
  border: none; /* Remove button border */
  padding: 5px 15px; /* Add padding to the button */
  font-weight: bolder;
  width: 20;
  color: #fff; /* Text color */
}

.btn:hover {
  background-color: rgb(227, 255, 255); /* Darker color on hover */
  color: #000; /* Text color on hover */
}



/*Modal css*/
/* Style modal header */
.modal-header {
  background-color: #486b9f; /* Header background color */
  color: #fff; /* Header text color */
}

/* Style modal body */
.modal-body {
  background-color: white; /* Body background color */
  color: #fffdfd; /* Body text color */
}

/* Style modal buttons */
.modal-footer .btn-primary {
  background-color: #03192f; /* Button background color */
  border-color: #00172f; /* Button border color */
  color: #151414; /* Button text color */
}

.modalText{
  color: black !important;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

/* Hover effect for modal buttons */
.modal-footer .btn-primary:hover {
  background-color: #021325; /* Button background color on hover */
  border-color: #031a32; /* Button border color on hover */
}

/* Style form input fields in the login modal */
#loginModal .form-control {
  color: #000000; /* Black font color */
}

.navbar-nav.mr-auto {
  margin-left: auto;
  margin-right: auto;
}
.navbar-nav .nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
}

.navbar-brand{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding-left: 30px;
  font-size: xx-large;
}

.btn-outline-light{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.navbar{
  padding-top: 0;
  padding-bottom: 0;
}

.btn-success{
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
}



